<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>BALLOON.png</key>
		<dict>
			<key>x</key>
			<integer>733</integer>
			<key>y</key>
			<integer>585</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>228</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>178</integer>
			<key>originalHeight</key>
			<integer>237</integer>
		</dict>
		<key>BOSSA_1.png</key>
		<dict>
			<key>x</key>
			<integer>552</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>239</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>259</integer>
			<key>originalHeight</key>
			<integer>214</integer>
		</dict>
		<key>BOSSB_1.png</key>
		<dict>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>617</integer>
			<key>width</key>
			<integer>225</integer>
			<key>height</key>
			<integer>357</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>375</integer>
		</dict>
		<key>BOSSB_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>298</integer>
			<key>height</key>
			<integer>405</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>311</integer>
			<key>originalHeight</key>
			<integer>405</integer>
		</dict>
		<key>PLUMA.png</key>
		<dict>
			<key>x</key>
			<integer>769</integer>
			<key>y</key>
			<integer>467</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>PLUMB.png</key>
		<dict>
			<key>x</key>
			<integer>852</integer>
			<key>y</key>
			<integer>467</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>101</integer>
			<key>originalHeight</key>
			<integer>102</integer>
		</dict>
		<key>STRAW.png</key>
		<dict>
			<key>x</key>
			<integer>791</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>270</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>219</integer>
			<key>originalHeight</key>
			<integer>278</integer>
		</dict>
		<key>TOMATOHOSTAGE.png</key>
		<dict>
			<key>x</key>
			<integer>769</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>191</integer>
			<key>height</key>
			<integer>186</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>209</integer>
			<key>originalHeight</key>
			<integer>204</integer>
		</dict>
		<key>TOMATOORZ.png</key>
		<dict>
			<key>x</key>
			<integer>546</integer>
			<key>y</key>
			<integer>585</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>198</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>bugb.png</key>
		<dict>
			<key>x</key>
			<integer>546</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>223</integer>
			<key>height</key>
			<integer>304</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>307</integer>
		</dict>
		<key>bugc.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>245</integer>
		</dict>
		<key>bullEye.png</key>
		<dict>
			<key>x</key>
			<integer>733</integer>
			<key>y</key>
			<integer>813</integer>
			<key>width</key>
			<integer>161</integer>
			<key>height</key>
			<integer>161</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
		<key>badTomato.png</key>
		<dict>
			<key>x</key>
			<integer>546</integer>
			<key>y</key>
			<integer>783</integer>
			<key>width</key>
			<integer>185</integer>
			<key>height</key>
			<integer>199</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>187</integer>
			<key>originalHeight</key>
			<integer>201</integer>
		</dict>
		<key>bottleA.png</key>
		<dict>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>336</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>339</integer>
		</dict>
		<key>bottleB.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>686</integer>
			<key>width</key>
			<integer>249</integer>
			<key>height</key>
			<integer>332</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>335</integer>
		</dict>
		<key>BOSSA_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>281</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>326</integer>
			<key>originalHeight</key>
			<integer>290</integer>
		</dict>
	</dict>
</dict>
</plist>