<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>button_ready.png</key>
		<dict>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>480</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>193</integer>
			<key>originalHeight</key>
			<integer>71</integer>
		</dict>
		<key>choiceGame.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>800</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>game_clear.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game_lock.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game_unlock.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>633</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game2.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>480</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>708</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>14.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game4.png</key>
		<dict>
			<key>x</key>
			<integer>901</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game5.png</key>
		<dict>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>555</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>8.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game6.png</key>
		<dict>
			<key>x</key>
			<integer>879</integer>
			<key>y</key>
			<integer>351</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game7.png</key>
		<dict>
			<key>x</key>
			<integer>919</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>11</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game8.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>272</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game9.png</key>
		<dict>
			<key>x</key>
			<integer>921</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game10.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>557</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game11.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>351</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game12.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>555</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game13.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>480</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game14.png</key>
		<dict>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>480</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>game15.png</key>
		<dict>
			<key>x</key>
			<integer>905</integer>
			<key>y</key>
			<integer>272</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
	</dict>
</dict>
</plist>