<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>index_about_1.png</key>
		<dict>
			<key>x</key>
			<integer>709</integer>
			<key>y</key>
			<integer>318</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>index_about_2.png</key>
		<dict>
			<key>x</key>
			<integer>871</integer>
			<key>y</key>
			<integer>254</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>index_continue_1.png</key>
		<dict>
			<key>x</key>
			<integer>719</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>193</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>193</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>index_continue_2.png</key>
		<dict>
			<key>x</key>
			<integer>709</integer>
			<key>y</key>
			<integer>254</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>193</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>index_fb.png</key>
		<dict>
			<key>x</key>
			<integer>942</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>index_help_1.png</key>
		<dict>
			<key>x</key>
			<integer>845</integer>
			<key>y</key>
			<integer>318</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>index_help_2.png</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>index_new_1.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>239</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>241</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>index_new_2.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>349</integer>
			<key>width</key>
			<integer>192</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>241</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>index_quick_1.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>229</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>229</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>index_quick_2.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>416</integer>
			<key>width</key>
			<integer>189</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>229</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>index_setting_1.png</key>
		<dict>
			<key>x</key>
			<integer>709</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>165</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>165</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>index_setting_2.png</key>
		<dict>
			<key>x</key>
			<integer>874</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>137</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>165</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>index_title.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>462</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>planet.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>ship.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>262</integer>
			<key>width</key>
			<integer>201</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>201</integer>
			<key>originalHeight</key>
			<integer>87</integer>
		</dict>
		<key>shipfire_a_1.png</key>
		<dict>
			<key>x</key>
			<integer>709</integer>
			<key>y</key>
			<integer>384</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>shipfire_a_2.png</key>
		<dict>
			<key>x</key>
			<integer>845</integer>
			<key>y</key>
			<integer>384</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>star.png</key>
		<dict>
			<key>x</key>
			<integer>709</integer>
			<key>y</key>
			<integer>452</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
	</dict>
</dict>
</plist>