<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>button_backward.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>8.5</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>button_buy.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>87</integer>
		</dict>
		<key>button_facebook.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>103</integer>
		</dict>
		<key>button_next.png</key>
		<dict>
			<key>x</key>
			<integer>926</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>87</integer>
		</dict>
		<key>button_prop.png</key>
		<dict>
			<key>x</key>
			<integer>916</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>button_weapon.png</key>
		<dict>
			<key>x</key>
			<integer>903</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>103</integer>
		</dict>
		<key>button_fight.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>weaponList.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>800</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
	</dict>
</dict>
</plist>